asn1crypto==0.24.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
click==6.7
cryptography==3.3.2
enum34==1.1.6
Flask==1.0.2
gunicorn==19.9.0
idna==2.7
ipaddress==1.0.22
itsdangerous==0.24
Jinja2==2.11.3
MarkupSafe==1.0
pycparser==2.18
PyJWT==1.6.4
pyOpenSSL==18.0.0
pytz==2018.5
requests==2.20.0
six==1.11.0
twilio==6.14.9
urllib3==1.26.5
Werkzeug==2.2.3
