<!DOCTYPE html>
<html>
  <head>
      <title>Voicemail Victim</title>
      <link rel="stylesheet" 
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" 
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> 
  </head>
  <body>
    <div class="container">
        <h1>Voicemail Victim</h1>
        <p>Success! Your Voicemail Victim instance is now live.</p>
        <p>Point a Twilio phone number at the <a href="/call">/call</a> endpoint and make a call from any phone to your Twilio number to get hacking.</p>
        <hr>
    </div>
    <!-- Include page dependencies -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  </body>
</html>