<!DOCTYPE html>
<html>
  <head>
      <title>Voicemail Victim</title>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
      <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div class="container">
        <h1>Voicemail Victim</h1>
        <p>Success! Your <a href="https://github.com/benjholla/VoicemailVictim">Voicemail Victim</a> instance is ready and waiting to be hacked.</p>
        <h2>Get Hacking!</h2>
        <p>Simply make a call from any phone to your Twilio number that is pointed at this application.</p>
        <p>Need a hint to get started hacking?  Click <a id="hint-link" href="#">here</a>.</p>
        <div style="display: none;" id="hint"><p><i>Hint: </i>Checkout <a href="https://en.wikipedia.org/wiki/Caller_ID_spoofing">Caller ID spoofing</a> and <a href="http://www.spoofcard.com/">SpoofCard</a>. Be creative and don't be afraid to get your hands dirty!</p></div>
       <hr>
    </div>
    <!-- Include page dependencies -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
      $("#hint-link").click(function() {
        $("#hint").show("slow");
      });
    </script>
  </body>
</html>